<div class="conteiner-fluid" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-2">
          {% for i in category %}
          <div class="list-group list_category">
            <div class="dropdown">
              {% if i.level == 0 %}
              <div class="item_category"><a type="button" class="" href="#">{{i.title}}</a></div>
              {% endif %}
              <div class="dropdown-content">
                {% for j in category %}
                {% if j.tree_id == i.tree_id and j.level != i.level %}
                <a href="#" class="dropdown-content-item">{{j.title}}</a>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>