<div class="conteiner-fluid" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-2">
            {% include 'catalog/include/sidebar.html' %}
        </div>
        <div class="col-md-8" style="margin-left:50px">
            <h4>{{product.title}}</h4>

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for im in images %}
                    <div class="carousel-item active">
                    <img src="{{images|slice:'1'}}" class="d-block w-100" alt="sdfsdf" style="width:400px">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
                </button>
                </div>

            {{product.info}}
        </div>
    </div>
</div>