<div class="conteiner-fluid" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-2">
            {% include 'catalog/include/sidebar.html' %}
        </div>
        <div class="col-md-8" style="margin-left:50px;margin-top:20px">
            <div class="container">
                <form action="{% url 'add_product' %}" method="post">
                {% csrf_token %}
<!--                    title-->
                    <div class="form-group">
                  <label for="{{form.title.id_for_label}}">название:</label>
                  {{form.title}}
                  <div class="invalid-feedback"></div>
                  {{form.title.errors}}
                </div>
<!--                    info-->
                    <div class="form-group">
                  <label for="{{form.info.id_for_label}}">информация о продукте:</label>
                  {{form.info}}
                  <div class="invalid-feedback"></div>
                  {{form.info.errors}}
                </div>
<!--                    price-->
                    <div class="form-group">
                  <label for="{{form.price.id_for_label}}">название:</label>
                  {{form.price}}
                  <div class="invalid-feedback"></div>
                  {{form.price.errors}}
                </div>
<!--                    weight-->
                    <div class="form-group">
                  <label for="{{form.weight.id_for_label}}">название:</label>
                  {{form.weight}}
                  <div class="invalid-feedback"></div>
                  {{form.weight.errors}}
                </div>
<!--                    is_published-->
                    <div class="form-group">
                  <label for="{{form.is_published.id_for_label}}">название:</label>
                  {{form.is_published}}
                  <div class="invalid-feedback"></div>
                  {{form.is_published.errors}}
                </div>
<!--                    category-->
                    <div class="form-group">
                  <label for="{{form.category.id_for_label}}">название:</label>
                  {{form.category}}
                  <div class="invalid-feedback"></div>
                  {{form.category.errors}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>
    </div>
</div>