<div class="conteiner-fluid" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-2">
            {% include 'catalog/include/sidebar.html' %}
        </div>
        {% if user.is_superuser %}
        <div class="col-md-8" style="margin-left:50px;margin-top:20px">
            <div class="container" style="padding-bottom:50px">
                <form id="post_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                       {% for field in product_form %}
                        <div class="form-group">
                            {{field.label}}
                            {{ field }}
                        </div>
                    {% endfor %}

                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="form-group">
                        {{form.label}}
                        {{ form }}
                    </div>
                    {% endfor %}
                    <button class="btn" type="submit" >create</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>