{% load user_tags  %}
{% main_image_in_product as images %}
{% id_product as id_list %}
<div class="card-deck"  >
    {% for i in product %}
    <div class="conteiner" >
        <div class=" card card-style " >
            {% for im in images %}
                    {% if im.item_id == i.id %}
                        <img src="{{im.image.url}}" alt="image" class="card-img-top card_image" >
                    {% endif %}
            {% endfor %}

            <div class="card-body ">
                <a class="card-text-style" href="{{i.get_absolute_url}}">{{i.title}}</a>
                <hr>
                <p >{{i.info|truncatewords:5}}</p>
                {% if user.is_superuser %}
                <a>редактировать</a> | <a>удалить</a>
                {% endif %}
            </div>
            <div class="card-footer card-style-footer" >
                {% if i.is_published %}
                <a style="float:left">в наличии</a>
                {% else %}
                <a style="float:left">нет в наличии</a>
                {% endif %}
                <a style="float:right">{{i.price}} BYN</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
