
<nav class="navbar navbar-expand" >
  <a class="navbar-brand"  >Plane model</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link " href="/"  >
          <img src="/static/icon/homeregular_106344.png"  >
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/catalog" >Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Рассчитать модель</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div>
        <a class="nav-link" href="#log_in"  >
          <img src="/static/icon/signin1_89283.png" >
        </a>
      </div>
       <div>
        <a class="nav-link" href="#корзина"  >
          <img src="/static/icon/onlineshoppingcart_85781.png" >
        </a>
      </div>
      <input class="form-control mr-sm-2" type="search" placeholder="Что хотите найти?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>
